
*{
  box-sizing: border-box;
}
body {
  font-family:Outfit ;
  background-color:hsl(30, 54%, 90%);
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}


